@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100vh;
  background-image: linear-gradient(120deg, #FF6EC7, #993399);
  display: flex;
  align-items: center;
  justify-content: center;
}
.relogio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0,0, 0, 0.5);
}
.relogio main{
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  background-color: rgba(0,0, 0, 0.9);
  box-shadow: 5px 5px 15px rgba(0,0, 0, 0.7);
  border-radius: 7px;
  letter-spacing: 3px;
}
.relogio span{
  font-weight: bolder;
  font-size: 60px;
}
.relogio span.tempo{
  font-size: 10px;
}
@media only screen and (max-width: 450px){
  .relogio{
    flex-direction: column;
    gap: 15px;
    width: 180px;
    height: 600px;
  }
}
